{% extends "base.html" %}

{% block title %}All Blogs - Bosonica{% endblock %}

{% block content %}
<h1>All Blog Posts</h1>

{% if posts %}
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
            <h5>
                <a href="{{ url_for('blog', slug=post.slug) }}">
                    {{ post.title }}
                </a>
            </h5>
            <small class="text-muted">{{ post.date }}</small><br>
            {% if post.tags %}
                <small>Tags: {{ post.tags | join(', ') }}</small>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No blog posts yet.</p>
{% endif %}
{% endblock %}
