{% extends "base.html" %}

{% block title %}Calculator - Bosonica{% endblock %}

{% block content %}
    <h1>dBm to mW Conversion</h1>
    <form method="POST" action="/calculator">
        <div class="mb-3">
            <label for="Power [dBm]" class="form-label">First Number:</label>
            <input type="number" class="form-control" name="Power [dBm]" step="any" required>
        </div>
        <button type="Calculate" class="btn btn-primary">Add</button>
    </form>

    {% if result is not none %}
        <hr>
        <h4>Result: {{ result }} mW</h4>
    {% endif %}
{% endblock %}
